/** @format */

.nav {
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100vw;
  background-color: rgb(4, 4, 4);
  padding: 32px;
  color: aliceblue;
}
.nav .active {
  font-weight: 800;
}
.nav a {
  color: rgb(255, 254, 254);
  text-decoration: none;
}
